/* Importing necessary fonts */
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 10, ../sass/styles.scss */
html, body {
  font-family: "Roboto", sans-serif;
}

/* line 14, ../sass/styles.scss */
#navbar {
  height: 80px;
  background-color: #fff;
  text-align: center;
}

/* line 20, ../sass/styles.scss */
#landing {
  height: 600px;
  background-image: url("../images/background.svg");
  background-size: auto 600px;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 28, ../sass/styles.scss */
#landing .header {
  text-align: center;
  margin-bottom: 30px;
}
/* line 32, ../sass/styles.scss */
#landing .header h1 {
  margin-top: 120px;
}
/* line 35, ../sass/styles.scss */
#landing .header h1 span {
  line-height: 2em;
  font-family: "Nothing You Could Do";
  color: #F4AE00;
}
/* line 43, ../sass/styles.scss */
#landing .input {
  text-align: center;
}
/* line 48, ../sass/styles.scss */
#landing .input .shorten-url input {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* Positioning scissor icon */
  background-image: url("../images/scissor.svg");
  background-position: 98% center;
  background-size: 22px auto;
  background-repeat: no-repeat;
  background-color: #E6E6E6;
}
/* line 64, ../sass/styles.scss */
#landing .input button {
  background-color: transparent;
  border: 1px solid #F4AE00;
  padding: 5px 10px;
  height: 40px;
  width: 110px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #F4AE00;
  margin: 40px 0px;
  transition: all 0.2s ease-in-out;
}
/* line 77, ../sass/styles.scss */
#landing .input button:hover {
  background-color: #ffe6a8;
}

/* line 84, ../sass/styles.scss */
#product-info {
  background-color: #F4F4F4;
  text-align: center;
  padding: 30px 0px;
}
/* line 89, ../sass/styles.scss */
#product-info h3 {
  font-family: Roboto, sans-serif;
  margin-bottom: 20px;
}
/* line 93, ../sass/styles.scss */
#product-info h3 span {
  font-family: "Nothing You Could Do", serif;
  color: #0072B9;
  font-size: 1.2em;
}
/* line 100, ../sass/styles.scss */
#product-info img {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}
/* line 105, ../sass/styles.scss */
#product-info img#own-it {
  width: 300px;
  height: auto;
}

/* line 113, ../sass/styles.scss */
footer {
  padding: 20px 60px;
  color: #ccc;
  text-align: center;
  background-color: #0072B9;
}
