<!DOCTYPE html5>

<html lang="en">

<head>

  <title>Mini.me</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
  <link rel="stylesheet" href="stylesheets/styles.css" media="screen" title="no title">
</head>

<body>

  <div class="container-fluid">
    <div class="row" role="navigation" id="navbar">

      <!-- Logo -->
      <div class="col-xs-4 col-xs-offset-4">
        <span class="highlight">mini.me</span>
      </div>

    </div>
  </div>

  <div id="landing">

  <div class="container">

      <div class="row header">
        <div class="col-xs-12">
          <h1>Make the web <br />a nicer place. <br><span>Shorten your URL</span></h1>
        </div>
      </div> <!-- ./ landing -->

      <div class="row input">
        <!-- Form where link will be pasted into -->
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
          <form class="shorten-url" action="/" method="post">
            <input type="text" name="url" placeholder="http://humongous-url-that-no-one-reads.com">
            <button type="submit">Shorten</button>
          </form>
        </div>
      </div> <!-- ./ input -->
    </div> <!-- ./ container -->

  </div> <!-- ./ landing -->

  <div class="container">
    <div id="how-to">

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          First
        </div>
        <div class="col-xs-12 col-sm-4">
          Second
        </div>
        <div class="col-xs-12 col-sm-4">
          Third
        </div>
      </div>

    </div>
  </div>


  <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
