<!DOCTYPE html5>

<html lang="en">

<head>

  <title>Mini.me</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
  <link rel="stylesheet" href="/stylesheets/styles.css" media="screen" title="no title">
</head>

<body>

  <div class="container-fluid">
    <div class="row" role="navigation" id="navbar">

      <!-- Logo -->
      <div class="col-xs-4 col-xs-offset-4">
        <a href="/"><img src="/images/logo.svg" alt="Mini.me - go to home page" id="logo" /></a>
      </div>

    </div>
  </div>

  <div id="landing">

    <div class="container">

      <div class="row header">
        <div class="col-xs-12">
          <h1>Make the web <br />a nicer place. <br><span>Shorten your URL</span></h1>
        </div>
      </div> <!-- ./ landing -->

      <div class="row input">
        <!-- Form where link will be pasted into -->
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
          <form class="shorten-url" action="/api/shorten/" method="post">
            <input type="text" name="url" placeholder="http://humongous-url-that-no-one-reads.com">
            {{#if err}}
              <span style="color: red;">Please enter a valid URL</span><br />
            {{/if}}
            <button type="submit">Shorten</button>
          </form>
        </div>

      </div> <!-- ./ input -->

    </div> <!-- ./ container -->

  </div> <!-- ./ landing -->

<div id="product-info">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>The <span>web</span> doesn't have to be a <span>spiderweb</span></h3>
        <img src="images/spiderweb.svg" alt="Don't suffer using extremely long links." class="img-responsive" />
        <p>
          Don't let the internet turn into a sea of long, unreadable links - humanity doesn't deserve such madness. Shorten your links.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Own your link. Use it <br /><span>anywhere</span></h3>
        <img src="images/own your link.svg" alt="Use your short links everywhere." class="img-responsive" id="own-it" />
        <p>
          Don't limit yourself to 140 characters. Share more using less.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Get precious <span>insight</span> from <br />your links</h3>
        <img src="images/analytics.svg" alt="Get precious insight" class="img-responsive"/>
        <p>
          <em>Coming soon</em><br />
          See who is clicking on all those links you are shortening. Where are they from? What language do they speak? How many times has it been clicked?
        </p>
      </div>
    </div>

  </div> <!-- ./ container -->

</div> <!-- ./ product-info -->

<footer>
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <p>
          Daniel Hernández &copy; Copyright 2016 - <span id="copyright-date"></span>
          <a href="https://github.com/DHDaniel"><img src="/images/social/GitHub-Mark-Light-64px.png" alt="GitHub" /></a>
          <a href="http://codepen.io/DHDanny/"><img src="/images/social/codepen white.png" alt="CodePen" /></a>
        </p>
      </div>
    </div>
  </div> <!-- ./ container -->
</footer> <!-- ./ footer -->


  <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


  <!-- Script for copyright date -->
  <script type="text/javascript">
    var today = new Date();
    var year = today.getFullYear();
    $("#copyright-date").html(year);
  </script>
</body>
</html>
