<!DOCTYPE html>

<html lang="en">

<head>

    <title>Your shortened link</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/link-page.css" media="screen" title="no title">

</head>

<body>

  <div class="container-fluid">
    <div class="row" role="navigation" id="navbar">

      <!-- Logo -->
      <div class="col-xs-4 col-xs-offset-4">
        <h1><a href="/">MINI.ME</a></h1>
      </div>

    </div>
  </div>

  <header id="landing-link">
    <div class="container">
      <div class="row header">

        <div class="col-xs-12">
          <h3>Your mighty long link has been shortened to a teeny tiny URL:</h3><br />
          <span><a href="{{shortened_url}}">{{shortened_url}}</a></span>
          <h3>Enjoy it. With great power comes great responsibility.</h3>
        </div>

      </div>
    </div>
  </header>

  <footer>
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <p>
            Daniel Hernández &copy; Copyright 2016 - <span id="copyright-date"></span>
          </p>
        </div>
      </div>
    </div> <!-- ./ container -->
  </footer> <!-- ./ footer -->




  <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

  <!-- Script for copyright date -->
  <script type="text/javascript">
    var today = new Date();
    var year = today.getFullYear();
    $("#copyright-date").html(year);
  </script>
</body>

</html>
